logs
target
tmp
.history
dist
/out
/RUNNING_PID
/.ivy*

# Keys
/debug.properties
/release.properties
/debug.keystore
/local.properties
/modules/app/local.properties

# Crashlytics
/modules/app/crashlytics/fabric.properties
/modules/app/crashlytics/CrashlyticsManifest.xml
/modules/app/src/main/assets/crashlytics-build.properties
/modules/app/src/main/res/values/com_crashlytics_export_strings.xml

# sbt specific
/.sbt
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project
project/target
/.activator
fabric.properties

# Scala-IDE specific
.scala_dependencies
.worksheet

#Eclipse specific
.classpath
.project
.cache
.settings/

#IntelliJ IDEA specific
.idea/
/.idea_modules
/.idea
/*.iml

#Proguard
proguard-sbt.txt

#Gen
modules/api/gen/
modules/repository/gen/
