<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fortysevendeg.ninecardslauncher2"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23"/>

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:name="com.fortysevendeg.ninecardslauncher.app.NineCardsApplication">

        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="@string/google_api_key"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />

        <meta-data android:name="io.fabric.ApiKey"
                   android:value="@string/crashlytics_api_key"/>

        <activity
            android:theme="@style/AppThemeWallpaper"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:name="com.fortysevendeg.ninecardslauncher.app.ui.launcher.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY"/>
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/AppTheme"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:label=""
            android:name="com.fortysevendeg.ninecardslauncher.app.ui.collections.CollectionsDetailsActivity"/>

        <activity
            android:theme="@style/AppTheme"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:label=""
            android:name="com.fortysevendeg.ninecardslauncher.app.ui.wizard.WizardActivity" />

        <activity
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label=""
            android:name="com.fortysevendeg.ninecardslauncher.app.ui.profile.ProfileActivity"/>

        <activity
            android:theme="@style/AppThemePreferences"
            android:screenOrientation="portrait"
            android:label="@string/nineCardsSettingsTitle"
            android:name="com.fortysevendeg.ninecardslauncher.app.ui.preferences.NineCardsPreferencesActivity"/>

        <activity
            android:theme="@style/AppThemeSharedContent"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:label=""
            android:name="com.fortysevendeg.ninecardslauncher.app.ui.share.SharedContentActivity" >
            <intent-filter
                android:label="@string/sharedIntentLabel">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/AppCompatDialog"
            android:launchMode="singleTask"
            android:name="com.fortysevendeg.ninecardslauncher.app.ui.applinks.AppLinksReceiverActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="www.9cards.io" />
            </intent-filter>
        </activity>

        <service
            android:name="com.fortysevendeg.ninecardslauncher.app.services.CreateCollectionService"/>

        <service
            android:name="com.fortysevendeg.ninecardslauncher.app.services.SynchronizeDeviceService"/>

        <provider
            android:authorities="com.fortysevendeg.ninecardslauncher2"
            android:name="cards.nine.repository.provider.NineCardsContentProvider"
            android:exported="false"/>

        <receiver android:name="com.fortysevendeg.ninecardslauncher.app.receivers.AppBroadcastReceiver">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <action android:name="android.intent.action.PACKAGE_CHANGED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <!-- Gooogle Analytics Receivers and Services -->
        <receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver"
                  android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.AnalyticsService"
                 android:enabled="true"
                 android:exported="false"/>

        <receiver android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
                  android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <service
            android:name="com.fortysevendeg.ninecardslauncher.app.services.NineCardsFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.fortysevendeg.ninecardslauncher.app.services.NineCardsFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.fortysevendeg.ninecardslauncher.app.services.UpdateSharedCollectionService"
            android:exported="false"/>

    </application>

    <!--
        Normal Permissions - Automatically granted
        https://developer.android.com/guide/topics/security/normal-permissions.html
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- Normal Permissions -->

    <!-- Dangerous Permissions - Need user approve -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BIND_APPWIDGET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- Dangerous Permissions -->

    <!-- Other permissions -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <!-- Other permissions -->

</manifest>