<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fortysevendeg.ninecardslauncher"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="21"/>

    <application android:label="@string/app_name"
                 android:installLocation="auto">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>