@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

/* body
/* -----------------------------------------*/

body {
    font-family: 'Roboto', sans-serif;
}

#site-header .navbar-wrapper {
  margin-top: 20px;
}

#site-header .navbar-wrapper nav ul li.gitter a i {
  margin-right: 0;
}

#site-header .navbar-wrapper nav ul li.gitter a i img {
  width: 24px;
  height: 24px;
}


/* jumbotron
/* -----------------------------------------*/

.jumbotron {
    text-align: center;
    padding-top: 80px;
}

.jumbotron img {
    max-width: 123px;
    height: auto;
}

.jumbotron h1 {
    font-weight: 300;
}

.jumbotron h1 span {
    font-weight: 500;
}

.jumbotron .jumbotron-btn {
    padding: 0;
    margin: 0;
}

.jumbotron .jumbotron-btn li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.jumbotron .jumbotron-btn li:last-child {
    margin-right: 0;
}

.jumbotron .btn {
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.jumbotron .btn i {
    font-size: 22px;
    margin-right: 8px;
}

.jumbotron .GitHub-link {
    padding: 0;
    margin: 30px 0 0 0;
    text-transform: none;
    font-size: 18px;
}

.jumbotron .GitHub-link li {
    list-style: none;
    display: inline-block;
    margin-right: 18px;
}

.jumbotron .GitHub-link li a {
    color: #fff;
}

.jumbotron .GitHub-link li a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.jumbotron .GitHub-link li.dot {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
}

.jumbotron .GitHub-link li:last-child {
    margin-right: 0;
}

.jumbotron .GitHub-link li i {
    margin-right: 6px;
}


/* section
/* -----------------------------------------*/

.users {}

.developers {
    background: #00BCD4;
}

.users .carousel {
    padding-top: 50px;
}

.users video {
    margin-bottom: -8px;
}

.developers .carousel {}

.carousel .carousel-control {
    background: none;
    text-shadow: none;
    font-size: 60px;
    color: #283593;
    top: 40%;
    width: auto;
}



.slide-img {
    text-align: center;
}


.slide-text {
    padding-top: 30px;
}

.slide-text h2 {
    font-size: 32px;
    color: #283593;
    margin-bottom: 60px;
}

.slide-text h2 span {
    padding-bottom: 10px;
    border-bottom: 4px solid #283593;
}

.slide-text h3 {
    font-size: 23px;
    color: #283593;
    font-weight: 500;
    margin-bottom: 28px;
    margin-top: 100px;
}

.slide-text p {
    font-size: 18px;
}

.developers .slide-text {
  padding: 80px 0 100px 0;

}

.developers .slide-text p {
    color: #fff;
}

.developers .bg-image1 {
    width: 100%;
    height: 100%;
    background: rgba(0, 188, 212, 0.9);
    position: relative;

}

.developers .bg-image1:before {
    content: "";
    position: absolute;
    background: url("../img/photo1.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.developers .bg-image2 {
    width: 100%;
    height: 100%;
    background: rgba(0, 188, 212, 0.9);
    position: relative;

}

.developers .bg-image2:before {
    content: "";
    position: absolute;
    background: url("../img/photo2.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.developers .bg-image3 {
    width: 100%;
    height: 100%;
    background: rgba(0, 188, 212, 0.9);
    position: relative;

}

.developers .bg-image3:before {
    content: "";
    position: absolute;
    background: url("../img/photo3.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.developers .carousel-inner {
    height: 640px;
}

.developers .carousel, .developers .item, .developers .active {
    height: 100%;
}


/* media-queries
/* -----------------------------------------*/


@media screen and (min-width: 2400px) {

  .carousel-control.left {
    left: 25%;
  }

  .carousel-control.right {
    right: 25%;
  }

}

@media screen and (max-width: 2400px) {

  .carousel-control.left {
    left: 15%;
  }

  .carousel-control.right {
    right: 15%;
  }

}


@media screen and (max-width: 1800px) {

  .carousel-control.left {
    left: 0;
  }

  .carousel-control.right {
    right: 0;
  }

}




@media screen and (max-width: 768px) {
    .jumbotron {
        padding-top: 82px;
    }
    .users video {
        width: 100%;
    }

    .slide-text h3 {
      margin-top: 0;
    }

}
